h2 {
    text-align: center;
}

[data-testid="character-details-container"]{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
